<div class="container-fluid top-nav bg-light">
  <div class="container d-flex align-items-center">
    <div class="ps-lg-2 ps-md-3 ps-sm-1 ps-xl-4 ps-xxl-5">
      <a href="/" class="font-comic-neue font-color-blue text-decoration-none h3">
        <%= image_tag asset_path('SparkId_logo.png'), style: 'width:100px; height: 100px;' %>
        SparkId
      </a>
    </div>

    <form class="ps-lg-2 ps-md-3 ps-sm-2 ps-xl-4 ps-xxl-5 d-inline-flex search-section">
      <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <button class="btn " type="submit">
        <i class="fa fa-search font-color-blue fa-2x" aria-hidden="true"></i>
      </button>
    </form>

    <div class="me-auto ps-lg-2  ps-md-3 ps-sm-2 ps-2 ps-xl-4 ps-xxl-5">
      <% if session[:user_id] != nil %>
        <a href="/users/profile">
          <%= image_tag asset_path('dummy_profile_female.png'), class: 'ms-auto', style: 'width:75px; height: 75px;' %>
        </a>
      <% else %>
        <a href="users/login">
          <button class="btn font-color-blue h1">
            <i class="fa fa-sign-in font-color-blue fa-3x" aria-hidden="true"></i>
            Login
          </button>
        </a>
      <% end %>
    </div>
  </div>
</div>

<div class="parent-container-max-width parent-container p-1 h-auto">

  <div class="child-container w-100 pt-lg-2 pt-md-3 pt-sm-2 pt-xl-4 pt-xxl-4 ps-lg-2 ps-md-3 ps-sm-2 ps-xl-4 ps-xxl-4 pe-lg-2 pe-md-3 pe-sm-2 pe-xl-4 pe-xxl-4 ">
    <div class="username-space h-auto d-flex">
      <a href="/" class="font-comic-neue font-color-blue text-decoration-none d-flex">
        <%= image_tag asset_path('dummy_profile_male.png'), class: 'user-profile', style: 'width:50px; height: 50px;' %>
        <div class="p-2 d-flex justify-content-center flex-column align-items-center">
          <h6>Annamalai</h6>
          <h6>@capital_sam</h6>
        </div>
      </a>
      <button class="btn ms-auto ">
        <svg aria-label="More Options" class="_ab6-" color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
          <circle cx="12" cy="12" r="1.5"></circle>
          <circle cx="6" cy="12" r="1.5"></circle>
          <circle cx="18" cy="12" r="1.5"></circle>
        </svg>
      </button>
    </div>
    <div class="text-space">
      <h3 class="message-content">
        Chennai Super kings is the one of the greatest team in IPL
      </h3>
    </div>
    <div class="image-space h-auto">
      <img src="/assets/csk.jfif" class="w-100 h-auto" alt="Icon"/>
    </div>
    <div class="reaction-space w-100 m-auto row ps-4 pe-5">
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i></button>
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-comments-o fa-lg" aria-hidden="true"></i></button>
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i></button>
    </div>
  </div>

  <div class="child-container w-100 pt-lg-2 pt-md-3 pt-sm-2 pt-xl-4 pt-xxl-4 ps-lg-2 ps-md-3 ps-sm-2 ps-xl-4 ps-xxl-4 pe-lg-2 pe-md-3 pe-sm-2 pe-xl-4 pe-xxl-4">
    <div class="username-space h-auto d-flex ">
      <a href="/" class="font-comic-neue font-color-blue text-decoration-none d-flex">
        <%= image_tag asset_path('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Gautham_Menon_at_Dhuruvangal_Pathinaaru_Success_Meet_%28cropped%29.jpg/800px-Gautham_Menon_at_Dhuruvangal_Pathinaaru_Success_Meet_%28cropped%29.jpg'), class: 'user-profile', style: 'width:50px; height: 50px;' %>
        <div class="p-2 d-flex justify-content-center flex-column align-items-center">
          <h6>Aswath</h6>
          <h6>@King_aswath</h6>
        </div>
      </a>
      <button class="btn ms-auto ">
        <svg aria-label="More Options" class="_ab6-" color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
          <circle cx="12" cy="12" r="1.5"></circle>
          <circle cx="6" cy="12" r="1.5"></circle>
          <circle cx="18" cy="12" r="1.5"></circle>
        </svg>
      </button>
    </div>
    <div class="text-space">
      <h3 class="message-content">
        'Vikram' has become a smashing hit at the box office, crossing ₹442.45 crore mark globally
      </h3>
    </div>
    <div class="image-space h-auto">
      <img src="https://cdn.wallpapersafari.com/54/99/DqKS4l.jpg" class="w-100 h-auto" alt="Icon"/>
    </div>
    <div class="reaction-space w-100 m-auto row ps-4 pe-5">
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i></button>
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-comments-o fa-lg" aria-hidden="true"></i></button>
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i></button>
    </div>
  </div>
</div>

<% if session[:user_id] != nil %>
  <div class="bottom-nav bg-body container-fluid">
  <div class="container ps-lg-2 ps-md-3 ps-sm-1 ps-xl-4 ps-xxl-5">
   <form>
     <div class="d-flex">
       <%= image_tag asset_path('dummy_profile_female.png'), style: 'width:75px; height:75px;' %>
       <input name="authenticity_token" type="hidden" value="= form_authenticity_token">
       <input class="bg-transparent post-border ms-auto me-auto mb-2 border-none w-75 font-color-grey" type="text" placeholder="What's new...">
       <input accept="image/jpeg,image/png,image/webp,image/gif,video/mp4" id="imageInput" style="display: none;" type="file">
       <label for="imageInput" class="text-primary mt-4 ms-xxl-5 ms-xl-4 ms-lg-3 ms-md-2 ms-sm-1 font-color-blue">
         <i class="fa fa-file-image-o fa-2x font-color-blue" aria-hidden="true"></i>
       </label>
       <button type="submit" class="btn text-primary ms-xxl-5 ms-xl-4 ms-lg-3 ms-md-2 ms-sm-1" >
        <i class="fa fa-paper-plane-o fa-2x font-color-blue" aria-hidden="true"></i>
       </button>
     </div>
   </form>
   </div>
</div>
<% else %>
 <div class="bottom-nav bg-light container-fluid pt-3 pb-3">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="">
    <a class="text-decoration-none" href="/users/login">
  <button class="btn btn-outline-secondary ms-auto me-auto" >Login</button>
  </a>
  <a class="text-decoration-none" href="/users/signup">
  <button class="btn btn-outline-secondary ms-auto me-auto">Sign up</button>
  </a>
  </div>
  </div>
 </div>
<% end %>

<!-- pt-lg-2 pt-md-3 pt-sm-1 pt-xl-4 pt-xxl-5 pb-lg-2 pb-md-3 pb-sm-1 pb-xl-4 pb-xxl-5 -->